---
import './LoadingScreen.scss';
import { id } from './data';
---

<div id={id} class="LoadingScreen">
  <div class="LoadingScreen__Text" data-loading-text>
    Loading...
  </div>
</div>

<script src="./LoadingScreen.ts"></script>
