---
import './LoadingScreen.scss';
import image from '@/assets/images/image_loading.jpg';
import { id } from './data';
---

<div id={id} class="LoadingScreen">
  <div class="LoadingScreen__Logo" data-loading-logo>
    <img src={image} alt="" />
  </div>
</div>

<script src="./LoadingScreen.ts"></script>
