---
import Wrapper from '@/components/Wrapper.astro';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Sample</title>
  </head>
  <body>
    <Wrapper>
      <nav slot="header">ヘッダー内に入る</nav>
      <p>コンテンツ</p>
    </Wrapper>
  </body>
</html>
