---
import sampleImage from '@/assets/images/hawaii_islands_map.png';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Sample</title>
  </head>
  <body>
    <img src={sampleImage.src} width={sampleImage.width} height={sampleImage.height} alt="" />
  </body>
</html>
