---
import image from '@/assets/images/hawaii_islands_map.png';
import Img from '@/components/Img.astro';
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Sample</title>
  </head>
  <body>
    <Img src={image} />
  </body>
</html>
